{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-success text-white">Rejestracja</div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label>Nazwa użytkownika</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Hasło</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Utwórz konto</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}